STOREPATH=/mnt/store
DOCKER_NETWORK=media_bridge

INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=change-this-in-dockge
INFLUXDB_ORG=home
INFLUXDB_BUCKET=network
INFLUXDB_TOKEN=change-this-long-random-token
INFLUXDB_HTTP_PORT=18086

WEBUI_HTTP_PORT=8088
WEBUI_LAN_PREFIX=192.168.178.

COLLECTOR_NAME=home-server
COLLECTOR_PACKET_ENABLED=true
COLLECTOR_INTERFACE=eth0
COLLECTOR_PROMISCUOUS=true
COLLECTOR_FLUSH_INTERVAL=10s
COLLECTOR_LOG_LEVEL=info
COLLECTOR_SCAN_ENABLED=true
COLLECTOR_SCAN_INTERVAL=5m
COLLECTOR_SCAN_CIDR=192.168.178.0/24
COLLECTOR_SCAN_MAX_HOSTS=1024

ADGUARD_BASE_URL=http://192.168.178.61
ADGUARD_USERNAME=your-adguard-user
ADGUARD_PASSWORD=your-adguard-password
ADGUARD_ENABLED=true
ADGUARD_POLL_INTERVAL=30s
ADGUARD_QUERY_LIMIT=500
