INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=change-me-please
INFLUXDB_ORG=home
INFLUXDB_BUCKET=network
INFLUXDB_TOKEN=change-me-token

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

COLLECTOR_NAME=home-pc
COLLECTOR_INTERFACE=any
COLLECTOR_PROMISCUOUS=true
COLLECTOR_FLUSH_INTERVAL=10s
COLLECTOR_INFLUX_URL=http://influxdb:8086
COLLECTOR_LOG_LEVEL=info
